/* Forgotpassword.css */

/* Container styles */
.forgot-container {
  background: #ffd333;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Form container styles */
.forgot-form-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 31%;
  background-color: white;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

/* Center text styles */
.text-center {
  text-align: center;
}

.text-container {
  margin-bottom: 1rem; /* Equivalent to 'mb-3' */
  text-align: end; /* Equivalent to 'text-end' */
}

.forgot-password-link {
  color: inherit; /* Inherit color from parent element or default color */
  text-decoration: none; /* Remove underline */
}

.forgot-password-link:hover,
.forgot-password-link:focus {
  text-decoration: underline; /* Optionally, add underline on hover or focus */
}

/* Button styles */
.forgot-button {
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  width: 100%;
  background: #ffd333;
  cursor: pointer;
}
